*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#app {
  width: 100vw;
  min-height: 100vh;
}

header {
  height: 100px;
  box-shadow: 0px 1px 3px 0px lightgrey;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

header .center-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

header nav {
  display: flex;
  gap: 20px;
}
header nav a {
  padding: 5px 25px;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
}

a.active {
  color: crimson;
  font-weight: bold;
  text-decoration: 2px solid underline;
  text-underline-offset: 12px;
}

/*------------------------
  Shimmer Page
-------------------------*/

.shimmer-container {
  min-height: calc(100vh - 100px);
  padding: 50px 0px;
}
.shimmer-container .center-container {
  max-width: 1200px;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-flow: row wrap;
  margin: auto;
}
.box {
  width: 260px;
  height: 300px;
  background-color: lightgrey;
  border-radius: 15px;
}


/* -------------------------
     Home Layout
----------------------------*/
#home{
  min-height: calc(100vh - 100px);
}
#home .center-container{
  max-width: 1200px;
  width: 100%;
  min-height: inherit;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 30px;
  padding: 50px 0px;
}


/*------------------------
  Card Design
--------------------------*/

.card{
  width: 260px;
  height: 300px;
  overflow: hidden;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid rgb(194, 192, 192);
  position: relative;
}

.card .profile{
  height: 65%;
  overflow: inherit;
  border-radius: 15px;
  border: 1px solid rgb(194, 192, 192);
}


.card .profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info .title{
  font-size: 14px;
  padding: 5px 0px;
  font-weight: bold;
  color: black;
}

.card .info .description{
  color: rgb(101, 100, 100);
}

.card .info .price{
  font-size: 15px;
  padding:5px 0px;
  color: black;
}
.card .info .category{
  padding:5px 20px ;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.804);
  color: white;  
  font-size: 10px;
  border-radius: 5px;
  position: absolute;
  top: 13px;
  left: 13px;  
  text-transform: capitalize;
}



/*------------------------
   Product Page
-------------------------*/
.product-page{
  min-height: calc(100vh - 100px);
}

.center-container{
.product-page .center-container{
  max-width: 1200px;
  width: 100%;
  min-height: inherit;
  margin: auto;
  display: flex;
}


.product-page .center-container .left{
  width: 50%;
  min-height: inherit;
  padding: 35px;
}


.product-page .center-container .image-container{
  width: 400px;
  min-height: 400px;
  border: 1px solid blakc;
  width: 500px;
  height: 450px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 15px;
} 

.product-page .center-container .left .image-container img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-page .center-container .right{
  width: 50%;
  min-height: inherit;
  padding: 35px;
}


.product-page .right .title{
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.product-page .right .description{
  font-size: 20px;
  line-height: 1.25;
  color: rgb(149, 147, 147);
  margin-bottom:10px;
  text-align: justify;
}

.product-page .right .tags-container{
  display: flex;
  gap: 15px;
}
.product-page .right .tags{
  padding: 5px 25px;
  border-radius: 15px;
  background-color: #e2e0e0;
  color: rgb(67, 65, 65);
  text-transform: capitalize;
  font-size: 13px;
}

.product-page .right .price{
  font-size:20px ;
  font-weight: bold;
  margin-top: 20px;
}


.cart-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-container .qty-container{
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart-container .qty-container button{
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(216, 213, 213);
  font-size: 18px;
  cursor:pointer;
}

.cart-container .add-cart{
  width: 80%;
  padding-block:13px;
  cursor:pointer;
  color: #222;
  font-weight: bold;
  background-color: #d8d6d6;
  border: none;
  outline: none;
  border-radius: 7px;
}
}